{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

	<div class="row divider green">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner catalog">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>{{ instrument.name }}
			<figure class="creator">
				<img src="{{ creator.picture}}">
				<figcaption>{{ creator.name }}</figcaption>
			</figure>
			</h1>

		</div>
	</div>


	<div class="row">
		<div class="col-md-12">
			{% with messages = get_flashed_messages() %}
				{% if messages %}
					<ul>
						{% for message in messages %}
							 <li> <strong> {{ message }} </strong> </li>
						{% endfor %}
					</ul>
				{% endif %}
			{% endwith %}
		</div>
	</div>
	{% if items !=[] %}
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-9">
				<h2>{{ instrument.name }} Catalog</h2>
					{% for i in items %}

							<div class="catalog-item">
								<h3>{{i.name}}</h3>
								<p>{{i.description}}</p>
								<p class="catalog-price">{{i.price}}</p>
								<p>Warranty - {{i.warranty}}</p>
								<p><img class="img-responsive catalog_image" src="{{i.picture}}"></p>

							</div>

					{% endfor %}
			</div>


			<div class="col-md-1"></div>
		</div>
	{% endif %}
{% endblock %}
